{% extends 'base.html' %}


{% block content %}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!--
Author : Maniruzzaman Akash
Email  : manirujjamanakash@gmail.com
-->

<!--To Work with icons-->
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<br>
<div class="container">
	<h2 class="text-center">Top User Reviews</h2>
	<br>
	<div class="card">
	    <div class="card-body">
	        <div class="row">
        	    <div class="col-md-2">
        	        <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/>
        	    </div>
        	    <div class="col-md-10">
        	        <p>
        	            <div class="float-left" style="color:blue" ><strong>Harirai Mahajan</strong></div>


        	       </p>
        	       <div class="clearfix"></div>
								 <p>The interface of the site is good.</p>
								 <p>
								 <a class="float-right btn btn-outline-primary ml-2" href="mailto:aryanshomray.cse18@iitbhu.ac.in"> <i class="fa fa-reply"></i> Reply</a>
        	       </p>
        	    </div>
	        </div>
	    </div>
	</div>
</div>
<br>




<div class="container">
<br>
	<div class="card">
	    <div class="card-body">
	        <div class="row">
        	    <div class="col-md-2">
        	        <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/>
        	    </div>
        	    <div class="col-md-10">
        	        <p>
        	            <div class="float-left" style="color:blue" ><strong>Aditya Patidar</strong></div>


        	       </p>
        	       <div class="clearfix"></div>
								 <p>The interface that is provided in this election portal is wonderful.</p>
								 <p>
        	            <a class="float-right btn btn-outline-primary ml-2" href="mailto:aryanshomray.cse18@iitbhu.ac.in"> <i class="fa fa-reply"></i> Reply</a>
        	       </p>
        	    </div>
	        </div>
	    </div>
	</div>
</div>




{% endblock content %}